* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 30px;
}

@media (max-width : 500px) {
    body {
        margin: 10px;
    }
}

/* for all a tag in page */
a {
    color: black;
    text-decoration: none;
}

/* for all paragraph in page */
p {
    line-height: 25px;
}

/* for header navbar */
header {
    display: flex;
}

h1 {
    font-size: 20px;
    flex: 25%;
}

header ul {
    flex: 50%;
    text-align: center;
}

header ul li,
header ul li a {
    font-weight: bold;
    font-size: 16px;
    color: black;
    margin-left: 10px;
    display: inline-block;
    text-decoration: none;
}

.login {
    text-align: end;
    flex: 25%;
}

.login button {
    background-color: white;
    color: black;
    border: none;
}

.login a {
    font-size: 16px;
}

#search {
    margin-left: 20px;
}

/* media query for header */
@media (max-width : 500px) {
    header {
        text-align: center;
        display: block;
        margin: 10px 0px;
    }

    h1 {
        font-size: 30px;
    }

    header ul {
        margin: 20px 0px;
    }

    .login {
        text-align: center;
    }
}

/* about company details */
.aboutcompany {
    background-color: rgb(225, 242, 249);
    display: flex;
}

.comp {
    flex: 50%;
    margin: 100px 0px 100px 100px;
}

h2 {
    font-weight: 500;
    font-size: 46px;
    font-weight: 600;
}

.comp p {
    font-size: 18px;
    margin-top: 35px;
}

#contact {
    margin-top: 30px;
    width: 150px;
    font-size: 16px;
    padding: 8px;
    background-color: rgb(248, 47, 47);
    border: none;
    color: white;
}

#about {
    width: 150px;
    font-size: 16px;
    padding: 8px;
    background-color: rgb(26, 169, 192);
    border: none;
    color: white;
}

.logoone {
    flex: 50%;
    text-align: center;
}

.logo {
    max-width: 500px;
}

/* media query for aboutus  */
@media (max-width: 1100px) {
    .aboutcompany {
        flex-wrap: wrap;
    }

    .comp {
        margin: 50px 50px 0px 50px;
    }

    .logo {
        width: 80%;
    }
}

@media (max-width : 500px) {
    h2 {
        font-size: 32px;
    }
}

/* for furniture list one */
.fonelist {
    margin: 50px 150px;
}

.our {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.flexfone {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.one {
    width: 350px;
    margin: 10px;
    background-color: rgb(219, 217, 217);
}

.one img {
    width: 320px;
    height: 320px;
}

.one p {
    margin-left: 30px;
    display: inline-block;
}

.one span {
    margin: 10px 30px;
    display: inline-block;
}

.one button {
    margin-left: 100px;
    border: none;
    background-color: rgb(219, 217, 217);
}

.one button a {
    color: rgb(36, 170, 214);
    font-weight: 600;
    font-size: 17px;
}

/* media query for our furniture section  */
@media (max-width: 1470px) {
    .fonelist {
        margin: 50px 0px;
    }

    .our {
        text-align: center;
    }

    .ourp {
        text-align: center;
    }
}

@media (max-width: 450px) {
    .one {
        width: 80%;
    }

    .one img {
        width: 80%;
        height: auto;
    }

    .one button {
        margin-left: 40px;
    }
}


/* for about us section  */
.about {
    margin-bottom: 60px;
    background-color: rgb(225, 242, 249);
    display: flex;
    flex-wrap: wrap;
}

.logotwo {
    flex: 50%;
    text-align: center;
}

.logo2 {
    width: 500px;
}

.aboutus {
    padding: 0px 100px;
    margin-top: 90px;
    flex: 50%;
    flex-wrap: wrap;
}

.about_us {
    font-weight: bold;
    font-size: 30px;
}

.about p {
    margin-top: 20px;
}

.aboutus button {
    margin: 20px 0px 50px 0px;
    width: 180px;
    height: 35px;
    background-color: rgb(105, 194, 233);
    border: none;
}

.about button a {
    color: white;
    font-size: 16px;
}

/* media query for about us section  */
@media (max-width: 1100px) {
    .logo2 {
        width: 80%;
    }

    .about {
        flex-wrap: wrap;
    }

    .aboutus {
        padding: 0px 50px;
        margin-top: 20px;
    }
}

/* for letest blog and testimonial heading */
.heading {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

/* for letest blogs */
.letest {
    margin: 50px 150px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.two {
    width: 350px;
    margin: 10px;
}

.two img {
    width: 350px;
    height: 350px;
}

.bold {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}

.two button {
    margin-left: 10px;
    margin-top: 25px;
    width: 160px;
    height: 35px;
    background-color: rgb(105, 194, 233);
    border: none;
}

.two button a {
    color: white;
    font-size: 16px;
}

/* media query for about us section  */
@media (max-width:1100px) {
    .letest {
        margin: 50px 0px;
    }
}

@media (max-width: 450px) {
    .two {
        text-align: center;
    }

    .two img {
        width: 80%;
        height: auto;
    }
}


/* for review on Testimonial */
.reviewof {
    box-shadow: 0px 4px 15px rgb(117, 117, 117);
    margin: 50px 200px;
    display: flex;
}

.reviewerdp {
    flex: 20%;
    justify-content: center;
    text-align: center;
    margin: 30px 10px;
}

.reviewof img {
    width: 130px;
    height: 130px;
    border-radius: 200px;
}

.review {
    margin: 30px 0px;
    flex: 80%;
}

.reviewer_name {
    font-size: 24px;
    margin: 10px 0px;
    font-weight: 600;
    color: rgb(105, 194, 233);
}

/* media query for Testimonial*/
@media (max-width: 1100px) {
    .reviewof {
        margin: 20px 100px;
    }
}

@media (max-width: 900px) {
    .reviewof {
        margin: 20px 40px;
    }

    .review {
        margin: 10px 0px;
    }
}

@media (max-width: 500px) {
    .reviewof {
        flex-wrap: wrap;
    }

    .review {
        margin: 0px 20px 20px;
    }

    .reviewerdp {
        margin: 10px 0px;
    }
}

/* for review change arrow */
.arrow {
    text-align: center;
}

#arrow {
    margin: 5px;
    padding: 15px;
    width: 50px;
    height: 50px;
    background-color: rgb(168, 231, 243);
    border-radius: 30px;
}

/* for contact form and map of store*/
.contact_us {
    margin-top: 50px;
    background-color: rgb(225, 242, 249);
    display: flex;
    justify-content: center;
}

.form {
    padding: 30px 0px 30px 120px;
    flex: 50%;
}

iframe {
    margin: 20px 30px;
}

.contact_us span {
    font-size: 24px;
    font-weight: bold;
}

section input {
    margin-top: 25px;
    border: none;
    width: 500px;
    font-size: 16px;
    padding: 10px;
}

textarea {
    width: 500px;
    height: 80px;
    font-size: 16px;
    margin: 25px 0px;
    padding: 10px;
    border: none;
}

.contact_us button {
    width: 150px;
    font-size: 16px;
    border: none;
    padding: 10px;
    background-color: rgb(105, 194, 233);
    color: white;
}

/* media query for contact form and map of store*/
@media (max-width: 1100px) {
    .contact_us {
        flex-wrap: wrap;
        text-align: center;
    }

    .form {
        padding: 30px 0px;
    }
}

@media (max-width: 700px) {
    section input {
        width: 350px;
        padding: 7px;
    }

    textarea {
        width: 350px;
        padding: 7px;
    }

    iframe {
        width: 80%;
        height: 300px;
    }
}

@media (max-width: 420px) {
    section input {
        width: 250px;
        padding: 5px;
    }

    textarea {
        width: 250px;
        padding: 5px;
    }

    iframe {
        width: 80%;
        height: 300px;
    }
}


/* for footer */
footer {
    color: white;
    background-color: black;
    margin-top: 30px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 100px;
}

footer a {
    color: white;
}

/* for call email and location */
.phone {
    flex: 33%;
    text-align: center;
}

/* for quick menu , instagram feed and signup */

.footermenu {
    flex: 25%;
    padding: 50px;
}

.footermenu p {
    font-size: 20px;
    font-weight: bold;
}

footer ul {
    flex-wrap: nowrap;
    margin-top: 20px;
}

footer li,
footer li a {
    width: 110px;
    display: inline-block;
    color: white;
}

.footermenu img {
    width: 50px;
    height: 50px;
    background-color: white;
}

footer input {
    width: 290px;
    padding: 10px;
    border: none;
}

footer button {
    background-color: rgb(105, 194, 233);
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    margin: 10px 0px;
}

.footermenu i {
    color: rgb(105, 194, 233);
    margin: 5px;
    width: 38px;
    height: 38px;
    padding: 10px;
    border: 1px solid rgb(105, 194, 233);
}

/* media query for footer*/
@media (max-width: 1265px) {
    .footer {
        flex-wrap: wrap;
        padding: 20px;
    }
}

@media (max-width: 690px) {
    .footermenu {
        padding: 20px 0px;
        flex: 100%;
        flex-wrap: wrap;
        text-align: center;
    }

    .phone {
        padding: 20px;
        flex: 100%;
    }

    .footer {
        padding: 0px;
    }

    footer input {
        width: 240px;
        padding: 5px;
    }
}